/* styles.css */

body {
    font-family: Gill Sans, sans-serif;
    background-color: yellow;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: yellow;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #73aec0;
    text-shadow:
            -1px -1px 0 #14496f,
            1px -1px 0 #14496f,
            -1px 1px 0 #14496f,
            1px 1px 0 #14496f;
}

h2 {
    color: #74aec0;
    text-shadow:
            -1px -1px 0 #14496f,
            1px -1px 0 #14496f,
            -1px 1px 0 #14496f,
            1px 1px 0 #14496f;
}

textarea {
    width: 96.3%;
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: yellow;
    color: #333;
    transition: border-color 0.3s;
}

textarea:focus {
    border-color: #000000;
    outline: none;
}

input[type="text"] {
    width: 96.3%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #333;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #73aec0;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #73aec0;
    color: orange;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #14496f;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
}